<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>add vaccination center</title>
<link rel="stylesheet" href="css/add vaccination center.css">

</head>



<body>


  <div class="header">
    
    <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>

    <input class="search"  type="search" placeholder="search with city">
  </div>




  <form>
<div class="information">
  <table class="information_table">

    <tr>
        <td>&nbsp center's name</td>
        <td><input  class="input"  placeholder="add name"  title="add the center's name"></td>
    </tr>
    
    <tr>
        <td>&nbsp city</td>
        <td><select class="input" title="add the center's city" >
          <option value="none" selected disabled hidden>Cities</option>
          <option value="city1">cairo</option>
          <option value="city2">alexandria</option>
          <option value="city3">aswan</option>
        </select></td>
    </tr>

    <tr>
      <td>&nbsp address</td>
      <td><input  class="input"  placeholder="add address"  title="add center's address"></td>
  </tr>

  <tr>
    <td>&nbspcontact number</td>
    <td><input  class="input"  placeholder="add number"  title="add center's number"></td>
</tr>

<tr>
  <td>&nbsp type</td>
  <td><select class="input" title="center's type" >
    <option value="none" selected disabled hidden>types</option>
    <option value="">government</option>
    <option value="">private</option>
  </select></td>
</tr>

<tr>

  <td colspan="2">
  <a class="submit_button" href="index.html" title="submit">
    <button class="submit_butto" type="button" title="submit">submit</button>
  </a>

</td>

</tr>


    </table>


</div>
</form>


    





</body>



</html>



