<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>add vaccine</title>
<link rel="stylesheet" href="css/add vaccine.css">

</head>



<body>


  <div class="header">
    
    <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>

    <input class="search"  type="search" placeholder="search with city">

  </div>





  <form>
    <div class="information">
      <table class="information_table">
    
        <tr>
            <td>&nbsp vaccine's name</td>
            <td><input  class="input"  placeholder="add name"  title="add the vaccine's name"></td>
        </tr>
        

        <tr>
          <td>&nbsp gap between doses</td>
          <td><input  class="inputnum" type="number" placeholder=""  title="gap between two doses"></td>
      </tr>
      <tr>
        <td>&nbsp precautions</td>
      <td><textarea class="precautions"></textarea></td>
    </tr> 
    <tr>
    
      <td colspan="2">
      <a class="submit_buttonlink" href="index.html" title="submit">
        <button class="submit_button" type="button" title="submit">submit</button>
      </a>
    
    </td>
    
    </tr>
    
    
        </table>
    
    
    </div>
    </form>
    


</body>




</html>



