<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>certificate</title>
<link rel="stylesheet" href="css/certificate.css">

</head>


<body>

  <div class="header">
  
      <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>


      <form action="login.html" class="header_buttons"> <input type="submit" class="logout_button" value="logout"> </form>
      <form action="profile.html" class="header_buttons"> <input type="submit" class="profile_button" value="profile"> </form>
      
    </div>
  
  <embed src="SW1 Projects Ideas[1].pdf" class="pdf">

</body>

</html>