<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css" />
</head>
<body>
        <div class="form">
                <form action="../Controllers/login.php" method="post">
                        <h1 class="form-title">Login</h1>
                        <div class="main-user-info">
                                <div class="user-input-box">
                                        <label for="email">Email</label><br>
                                        <input id="email" type="text" class="box" name="email"placeholder="enter email"autofocus required>
                                </div>


                                <div class="user-input-box">
                                        <!-- <label for="privilege">privilege:</label> -->
                                        <select name="log_as" id="privilege">
                                        <option selected disabled hidden>choose privilege</option>
                                        <option value="user" selected>user</option>
                                        <option value="admin">admin</option>
                                        <option value="vaccine_center" >vaccine center</option>
                                        
                                        </select>
                                </div>
                                


                                <div class="user-input-box">
                                        <label for="password">Password</label><br>
                                        <input id="password" type="password" class="box" name="password"placeholder="enter password"autofocus required>
                                </div>
                                
                        </div>


                        <div class="form-submit-btn">
                                <input type="submit"  class="button" value="submit" >
                        </div>


                </form>
                </div>
                
                
                
                

</body>
</html>



