<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>profile</title>
<link rel="stylesheet" href="css/profile.css">

</head>


<body>

  <div class="header">
  
      <a class="homelogo" href="user home.html" title="go home" style="text-decoration:none">home page</a>


      <form action="login.html" class="header_buttons"> <input type="submit" class="logout_button" value="logout"> </form>
      <form action="profile.html" class="header_buttons"> <input type="submit" class="profile_button" value="profile"> </form>
      
    </div>
  
  


    <form>
        <div class="information">
            <table class="information_table">

                <tr >
                    <td rowspan="6" class="profile_pic">image</td>


                </tr>
                
                <tr>
                    <td>name</td>
                    <td>ahmed mohamed</td>
                </tr>
                <tr>
                    <td>city</td>
                    <td>cairo</td>
                </tr>
                <tr>
                    <td>phone number</td>
                    <td>01001001000</td>
                </tr>
                <tr>
                    <td>national id</td>
                    <td>01371981341723645</td>
                </tr>

        </div>
        </form>
    
    
    
    </table>
   
</body>

</html>