<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>reservation</title>
<link rel="stylesheet" href="css/reservation.css">

</head>


<body>

  <div class="header">
  
      <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>


      <form action="login.html" class="header_buttons"> <input type="submit" class="logout_button" value="logout"> </form>
      <form action="profile.html" class="header_buttons"> <input type="submit" class="profile_button" value="profile"> </form>
      
    </div>
  
  


    <form>
        <div class="information">
          <table class="information_table">
        
            <tr>
                <td>&nbsp center's name</td>
                <td><select class="input" title="add the center's city" >
                  <option value="none" selected disabled hidden>center's name</option>
                  <option value="city1">cairo</option>
                  <option value="city2">alexandria</option>
                  <option value="city3">aswan</option>
                </select></td>
            </tr>
            
            <tr>
                <td>&nbsp vaccine's name</td>
                <td><select class="input" title="add the center's city" >
                  <option value="none" selected disabled hidden>name</option>
                  <option value="city1">cairo</option>
                  <option value="city2">alexandria</option>
                  <option value="city3">aswan</option>
                </select></td>
            </tr>
        
            <tr>
                <td>&nbsp date</td>
                <td><select class="input" title="add the center's city" >
                  <option value="none" selected disabled hidden>date</option>
                  <option value="city1">cairo</option>
                  <option value="city2">alexandria</option>
                  <option value="city3">aswan</option>
                </select></td>
            </tr>
        <tr>
            <tr>
                <td>&nbsp ID</td>
                <td><input  class="input"  placeholder="add number"  title="add ID"></td>
            </tr>
            
        
          <td colspan="2">
          <a class="submit_button" href="index.html" title="submit">
            <button class="submit_butto" type="button" title="submit">submit</button>
          </a>
        
        </td>
        
        </tr>
        
        
            </table>
        
        
        </div>
        </form>
        
        
</body>

</html>