<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>home</title>
<link rel="stylesheet" href="css/user home.css">

</head>


<body>

  <div class="header">
  
      <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>


      <form action="login.html" class="header_buttons"> <input type="submit" class="logout_button" value="logout"> </form>
      <form action="profile.html" class="header_buttons"> <input type="submit" class="profile_button" value="profile"> </form>
      
    </div>
  
  


<form>
  <div class="information">
      <table border="1" class="information_table">
          <tr>
              <th>name</th>
              <th>city</th>
              <th>address</th>
              <th>contact number</th>
              <th>type</th>

          </tr>
          
          <tr>
              <td>cairo hospital</td>
              <td>cairo</td>
              <td>alfostat street</td>
              <td>01001001005</td>
              <td>government</td>

          </tr>
          
          <tr>
              <td>alexandria hospital</td>
              <td>alexandria</td>
              <td>alexandria street</td>
              <td>01001001006</td>
              <td>private</td>
          </tr>
          
  </div>
  </form>
</table>


<div class="buttons">  
  <ul class="editing_list" >
    
    <li>certificate file<br><a class="submit_buttonlink" href="certificate.html" title="certificate">
      <button class="submit_button" type="button" title="submit" >Check Certificate</button> 
    </a></li>

    <li>reserve vaccine<br><a class="submit_buttonlink" href="reservation.html" title="add vaccine">
      <button class="submit_button" type="button" title="submit" >Reserve</button> 
    </a></li>



  </ul>

</div>


</body>

</html>