<!DOCTYPE html>
<html lang="">

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>center</title>
<link rel="stylesheet" href="css/vaccination center.css">

</head>



<body>

    <div class="header">
    
        <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>
    
        <input class="search"  type="search" placeholder="search with city">
    

      </div>
    
    


<form>
    <div id="box" class="information">
        <table border="1" class="information_table">

            <thead>
            <tr>
                <th>name</th>
                <th>reservation number</th>
                <th>confirm dose</th>
            </tr>
            </thead>


            <tr>
                <td>ali</td>
                <td>0100100</td>

                <td><form action="" class="header_buttons"> <input type="submit" onclick="hideButton(this)" class="submit_button" value="confirm dose">
                    <script src="index.js"></script>
                 </form>
                </td>
            </tr>


        </table>
    </div>
    </form>

    <div class="buttons">  
        <ul class="editing_list" >
          
          <li>add vaccination center<br><a class="submit_buttonlink" href="add vaccination center.html" title="add center">
            <button class="submit_button" type="button" title="submit" >add center</button> 
          </a></li>
      
          <li>add vaccine<br><a class="submit_buttonlink" href="add vaccine.html" title="add vaccine">
            <button class="submit_button" type="button" title="submit" >add vaccine</button> 
          </a></li>
      
      
      
        </ul>
      
      </div>


</body>



</html>