<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>alter center</title>
<link rel="stylesheet" href="css/alter.css">

</head>



<body>

    <div class="header">
    
        <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>
    
        <input class="search"  type="search" placeholder="search with city">
    
        <a class="profilelogo" href="" title="go home" >
          <img class="profilelogo" title="go to profile" src="images/user-modified.png" alt="profile logo" >
        </a>
    
      </div>
    
    


<form>
    <div class="information">
        <table border="1" class="information_table">
            <tr>
                <th>name</th>
                <th>city</th>
                <th>address</th>
                <th>contact number</th>
                <th>type</th>
                <th>update</th>
                <th>delete</th>
            </tr>
            
            <tr>
                <td>cairo hospital</td>
                <td>cairo</td>
                <td>alfostat street</td>
                <td>01001001005</td>
                <td>government</td>
                <td>     <a class="submit_buttonlink" href="update center.html" title="submit">
                    <button class="submit_button" type="button" title="submit">update</button>
                  </a>
                </td>

                <td>     <a class="submit_buttonlink" href="alter.html" title="submit">
                <button class="submit_button" type="button" title="submit">delete</button>
                </a>
                </td>
            </tr>
            
            <tr>
                <td>alexandria hospital</td>
                <td>alexandria</td>
                <td>alexandria street</td>
                <td>01001001006</td>
                <td>private</td>
                <td>     <a class="submit_buttonlink" href="update center.html" title="submit">
                    <button class="submit_button" type="button" title="submit">update</button>
                  </a>
                </td>

                <td>     <a class="submit_buttonlink" href="alter.html" title="submit">
                <button class="submit_button" type="button" title="submit">delete</button>
                </a>
                </td>
            </tr>
            
    </div>
    </form>



</table>


</body>



</html>