<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="vaccination" content="vaccination center">
<title>admin home</title>
<link rel="stylesheet" href="css/index.css">

</head>


<body>

  <div class="header">
  
      <a class="homelogo" href="index.html" title="go home" style="text-decoration:none">home page</a>
  
<input class="search"  type="search" placeholder="search with city">

        <a class="submit_buttonlink" href="alter.html" title="add vaccine">
        <button class="search_button" type="button" title="submit" >search</button> 
      </a></li>


  
      <a class="profilelogo" href="" title="go home" >
        <img class="profilelogo" title="go to profile" src="images/user-modified.png" alt="profile logo" >
      </a>
  
    </div>
  
  


<form>
  <div class="information">
      <table border="1" class="information_table">
          <tr>
              <th>name</th>
              <th>city</th>
              <th>address</th>
              <th>contact number</th>
              <th>type</th>

          </tr>
          
          <tr>
              <td>cairo hospital</td>
              <td>cairo</td>
              <td>alfostat street</td>
              <td>01001001005</td>
              <td>government</td>

          </tr>
          
          <tr>
              <td>alexandria hospital</td>
              <td>alexandria</td>
              <td>alexandria street</td>
              <td>01001001006</td>
              <td>private</td>
          </tr>
          
  </div>
  </form>
</table>


<div class="buttons">  
  <ul class="editing_list" >
    
    <li>add vaccination center<br><a class="submit_buttonlink" href="add vaccination center.html" title="add center">
      <button class="submit_button" type="button" title="submit" >add center</button> 
    </a></li>

    <li>add vaccine<br><a class="submit_buttonlink" href="add vaccine.html" title="add vaccine">
      <button class="submit_button" type="button" title="submit" >add vaccine</button> 
    </a></li>



  </ul>

</div>


</body>

</html>